# FIXME(YOU):
#  * use real domains here, for your deployment
#    + in the URIs opening each, and in the 'root' directive
#    + nb: /srv/repo comes from the Dockerfile, the rest of the `root`
#      directive is relative to this git repository.
#  * repeat the stanza if serving multiple domains,
#  * When ready, comment out the `tls` sub-stanza to switch from Let's Encrypt
#    staging to production service.

http://openpgpkey.example.org, https://openpgpkey.example.org {
	log stderr
	errors stderr
	root /srv/repo/sites/example.org

	tls {
		ca https://acme-staging-v02.api.letsencrypt.org/directory
	}
}
