# FIXME(YOU):
#  * use real domains here, for your deployment
#    + in the URIs opening each, and in the 'root' directive
#    + nb: /srv/repo comes from the Dockerfile, the rest of the `root`
#      directive is relative to this git repository.
#  * repeat the stanza if serving multiple domains,
#  * When ready, change from `tls internal` to tls which uses a public CA;
#    the commented-out example here uses Lets Encrypt's Staging, but to be
#    trusted by clients you'll need to switch to LE Production

http://openpgpkey.example.org, https://openpgpkey.example.org {
	log
	file_server
	root * /srv/repo/sites/example.org

	tls internal
	#tls {
	#	ca https://acme-staging-v02.api.letsencrypt.org/directory
	#}
}
